@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 97%;
  height: 450px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.container {
  padding: 2px 16px;
}

.details-page-area{
  background-color:#F3F4F8;
 

}

.blog-head-title{
  font-size: 57px;
}

.details-page-left-side-wrapper{
  background-color: #FFFFFF;
  margin-top: 20px;
  width: 98%;
  min-height: 100vh;
  border-radius: 5px;
  padding: 20px 20px;
  margin-bottom: 20px;


}
.details-page-right-side-wrapper{
  background-color: #FFFFFF;
  border-radius: 5px;

  margin-top: 20px;
  min-height: 100vh;
  margin-bottom: 20px;

}
/* .details-page-left-side-wrapper .post-details {
  padding: 20px 20px;
} */
.details-page-left-side-wrapper .post-details  h3 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  font-family: serif;

}



.details-page-right-side-wrapper .post-details  h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  font-family: serif;

}
.details-page-right-side-wrapper .post-details{
  margin-top: 30px

}

.details-page-left-side-wrapper.post-details .blog-post-img {
  position: relative;
  margin-top: 30px;
  padding: 20px 20px;

}

.details-page-right-side-wrapper.post-details .blog-post-img {
  position: relative;
  margin-top: 30px;
  padding: 20px 20px;

}
.details-page-left-side-wrapper .post-details .blog-post-img .date {
  position: absolute;
  padding: 4px 10px;
  background-color: #009ef79c;
  border-radius: 4px;
  margin-top: -29px;
}

.details-page-right-side-wrapper .post-details .blog-post-img .date {
  position: absolute;
  padding: 4px 10px;
  background-color: #009ef79c;
  border-radius: 4px;
  margin-top: -29px;
}

.post-description p{
  text-align: justify !important;
  font-size: 14px !important;
  text-align: justify;
  font-family: "Poppins" !important;
}

.post-card-area{
  background-color: #F3F4F8;
  margin-bottom: 30px;
}

     /*============================================
               MenuBar
============================================== */

.menubar-content ul li {
  line-height: 48px;
  margin-right: 18px;
  margin-left: 20px;
  display: inline-block;
  color: black;
  font-weight: bold;
}

.menubar-content ul li:hover{
color: #1BB372;
}



.menubar-content ul li:last-child {
  margin-right: 0;
}

.menubar-content {
  float: right !important;
}
.menubar-content ul{
padding-top: 20px;
}
/* 
.menubar-logo{
padding-top: 20px;
padding-bottom: 20px;
} */

.dna-wrapper-area{
  display: flex;
  justify-content: center;
}

.menubar-logo img {
  height: 74px;
  margin-top: 6px;
  margin-bottom: 0px;
}


.blog-footer-area{
  height: 300px;
  
}

  
     /*============================================
               TopMenuBar
============================================== */
.top-menu-bar-content ul{
  display: flex;
}


.top-menu-bar-content-title h6{
margin-bottom: 27px;
margin-top: 13px;
font-size: 26px;
line-height: 36px;
}

.top-menu-bar-content-title{
line-height: 30px;

padding: 135px 0px 50px 0px;


}




.top-menu-bar-content-title button i{

margin-left: 10px;
}

.top-menu-bar-logo{
  display: flex;
}
.top-menu-bar-logo h2 {
  margin-top: 30px;
  margin-left: 20px;
}
.top-menu-bar-logo img {
margin-right: 10px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.top-menu-bar-logo-two img{
height: 51px;
margin-top: 23px;
margin-bottom: 23px;
}

.top-menu-bar-content ul{
  display: flex;
  justify-content: right;


}
.top-menu-bar-content-two ul{
display: flex;
justify-content: right;


}

.top-menu-bar-content ul li {
  text-align: center;
  cursor: pointer;
  list-style: none;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: all .3s linear;
  border-radius: 4px;
}

.footer-area-lnk-clr{
  padding: 20px;
}


.mobile-btn{
display: none;
}

.top-menu-bar-content-two ul li{
text-align: center;
cursor: pointer;
font-size: 17px;
text-align: center;
cursor: pointer;
font-size: 17px;
font-weight: 500;
text-decoration: none;
transition: all .3s linear;
border-radius: 4px;
padding: 11px 10px;
color: black;
}

.top-menu-bar-content-two-lnk-clr{
color: black;
}

.top-menu-bar-content-two-lnk-clr:hover{
color: aliceblue;
}

.top-menu-bar-content-two ul Link{
padding: 27px;
text-align: center;
cursor: pointer;
color: black;
font-weight: bold;
border: none;
}
.top-menu-bar-content-two ul li Link {
color: aliceblue;
}

.top-menubar-item-clr{
color: aliceblue;
}

.top-menubar-item-clr:hover{
color: navy;
margin-top: -3px;

}



.top-menu-bar-content-two ul li:hover{
background-color: #FF1901;
color: aliceblue;
}

.navbar-login{
background-color: #FF1901;
color: aliceblue;
margin-left: 10px;
}

/* .navbar-area{
margin-top: -5px;
} */






.top-menu-bar-area{
  background-image: url("/public/img/lds-banner.png");
  padding-bottom: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;

}

.top-menu-bar-content-title button {
  width: 200px;
  height: 60px;
  background-color: #FF1901;
  border: none;
  color: aliceblue;
  margin-top: 23px;
}





.top-menu-bar-content-title h1 {
font-size: 44px;
line-height: 56px;
font-weight: 700;

}

.top-menu-bar-content-item{
margin-top: 70px;
}



.top-menubar-item-wrapper{
margin-top: 65px;
}

.top-menu-bar-content-item ul{
display: flex;
margin-top: 27px;


}

.top-menu-bar-content-item ul li{
list-style: none;
padding-right: 78px;
padding-left: 97px;


}
.comment-section-area{
  background-color: #FFFFFF;
  margin-top: 20px;
  width: 98%;
  min-height: 80vh;
  border-radius: 5px;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.deshboard-area{
  min-height: 100vh;
  background-color: #F3F4F8;
  padding-top: 40px;
}